
	<tbody> 
  		<tr>	
  			<td><%= guest.name %></td>
  			<td> <%= guest.table_num %> </td> 
  <td><%= link_to "Edit", edit_guest_path(guest), remote: true %></td>
   <td><%= link_to "Delete", guest, remote: true, method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
</tbody> 
